fastapi
gunicorn
httpx
numpy
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-exporter-jaeger
opentelemetry-instrumentation-httpx
pandas
rdkit
reasoner-pydantic==5.1.1
redis
scipy
scikit-learn
tqdm
uvicorn
zstandard