fastapi
gunicorn
httpx
numpy
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-httpx
opentelemetry-sdk
pandas
rdkit
lmdb
scipy
scikit-learn
tqdm
uvicorn
zstandard